@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  font-family: OpenSans, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* POPUP */

.popup {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 55px;
  padding-bottom: 55px;
  background: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  max-width: 330px;
  z-index: 3;
}


.popup::after {
  content: "";
  position: absolute;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 18px;
  top: -25px;
  right: 0px;
  z-index: 3;
}

/* Mask for POPUP!!!! */

/* .body {
  position: relative;
}

.body::after {
  position: absolute;
  content: "";
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 2;
} */


.popup__heading {
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.popup__heading::after {
  content: "";
  opacity: 0.400;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 28px;
}

.popup__label {
  margin-bottom: 36px;
}

.label-popup__select {
  font-size: 15px;
  line-height: 1.46;
  display: block;
  margin-bottom: 12px;
}

.label-popup__list {
  margin-bottom: 36px;
  font-size: 13px;
  line-height: 3.07;
  color: #abadad;
  width: 330px;
  height: 48px;
  background-color: #f4f7f6;
  background-image: url("../svg/form-arrows.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 15px 25px;
  background-position: 300px center;
  appearance: none;
  padding-left: 21px;
}

.checkbox-popup__input:checked+.checkbox-popup__item::before {
  background-image: url("../svg/form-circle.svg");
}

.popup__checkbox {
  margin-bottom: 37px;
}

.checkbox-popup__text {
  display: block;
  font-size: 15px;
  line-height: 1.46;
  margin-bottom: 12px;
}

.checkbox-popup__item {
  margin-right: 16px;
}

.checkbox-popup__item::before {
  content: "";
  background-image: url("../svg/form-empty-circle.svg");
  display: inline-block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center center;
  vertical-align: middle;
  margin-right: 8px;
}

.popup__about {
  display: inline-block;
  margin-bottom: 27px;
}

.about-popup__textarea {
  background-color: #f4f7f6;
  font-size: 13px;
  line-height: 3.07;
  opacity: 0.541;
  height: 129px;
  width: 330px;
  resize: none;
  padding-left: 21px;
  box-sizing: border-box;
}

.about-popup__question {
  display: block;
  font-size: 15px;
  line-height: 1.46;
  margin-bottom: 13px;
}

.popup__btn {
  width: 330px;
  height: 50px;
  background-color: #b59f5b;
  border: none;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
  position: relative;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  padding-top: 28px;
  padding-bottom: 127px;
}

.header::before {
  position: absolute;
  content: "";
  opacity: 0.600;
  background-color: #000000;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  padding-left: 245px;
  padding-right: 245px;
  max-width: 1170px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 99px;
}

.header__logo {
  position: relative;
  z-index: 2;
  width: 179px;
}

.header__ref {
  display: none;
}

.header__list {
  position: relative;
  z-index: 2;
  display: flex;
  list-style-type: none;
}

.list-header__item {
  margin-left: 35px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
}

.list-header__item:first-child {
  margin-left: 0;
}

.list-header__link {
  text-decoration: none;
  color: #ffffff;
}

.list-header__link:hover {
  text-decoration: underline;
}

.header__heading {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 687px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.66;
  text-align: center;
}

/* Trend */

.trend {
  padding-top: 56px;
}

.trend__heading {
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.trend__heading::after {
  content: "";
  opacity: 0.400;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 28px;
}

.trend__wrp {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

.trend__item {
  position: relative;
  display: block;
  width: 25%;
  height: 305px;
  background-color: #07571e;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 22px;
}

.trend__box {
  position: relative;
  min-height: 119px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #b59f5b;
  padding-left: 35px;
  padding-top: 23px;
}

.trend__item::before {
  position: absolute;
  content: "";
  opacity: 0.600;
  background-color: #000000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.trend__item:nth-child(1) {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend__item:nth-child(2) {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend__item:nth-child(3) {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend__item:nth-child(4) {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.trend__link {
  position: relative;
  font-size: 14px;
  line-height: 2.86;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
}

.trend__link:first-child {
  margin-right: 15px;
}

.trend__dscr {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.trend__link:hover {
  text-decoration: underline;
}

.trend__dscr:hover {
  color: #b59f5b;
}

/* Main */

.main {
  max-width: 778px;
}

.main__box {
  display: flex;
  margin-bottom: 60px;
}

.main__box:last-child {
  margin-bottom: 0;
}

.main__wrapper {
  margin-left: 27px;
}

.main__list {
  display: flex;
  margin-bottom: 5px;
}

.main__img {
  width: 381px;
}

.main__item {
  list-style-type: none;
}

.main__heading {
  margin-bottom: 17px;
  line-height: 0.9;
}

.main__link {
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  text-decoration: none;
}

.main__item {
  margin-right: 16px;
}

.main__item:last-child {
  margin-right: 0;
}

.main__link:hover {
  text-decoration: underline;
}

.main-aside__wrapper {
  padding-top: 59px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 65px;
}

.heading-main__link {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.heading-main__link:hover {
  color: #b59f5b;
}

.main__date {
  font-size: 12px;
  line-height: 3.33;
  color: #888888;
  margin-right: 8px;
}

.main__autor {
  font-weight: 700;
  font-size: 12px;
  line-height: 3.33;
  color: #000000;
}

.main__text {
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
  margin-top: 34px;
}

.main__lead {
  margin-top: 8px;
  display: block;
}

/* Aside */

.aside {
  max-width: 271px;
}

.posts__box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.aside__heading {
  font-size: 14px;
  line-height: 2.07;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  text-align: center;
}

.posts__box--travel {
  margin-bottom: 21px;
}

.posts__box--health {
  margin-bottom: 21px;
  justify-content: flex-start;
}

.posts__box--lifestyle {
  margin-bottom: 18px;
}

.posts__box--food {
  margin-bottom: 21px;
}

.aside__heading::after {
  content: "";
  opacity: 0.400;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aside__heading--posts {
  margin-bottom: 28px;
}

.posts__img {
  width: 70px;
  height: 70px;
  margin-right: 18px;
}

.wrapper-posts__date {
  position: relative;
  opacity: 0.541;
  font-size: 12px;
  color: #000000;
  bottom: 8px;
}

.wrapper-posts__heading {
  line-height: 1.1;
}

.wrapper-posts__link {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  bottom: 7px;
}

.wrapper-posts__link:hover {
  color: #b59f5b;
}

.posts {
  margin-bottom: 61px;
}

.aside__search {
  opacity: 0.541;
  font-size: 13px;
  line-height: 3.07;
  color: #000000;
  width: 204px;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 15px;
}

.aside__search:focus {
  border: 1px solid #b59f5b;
}

.aside__form {
  display: flex;
  margin-bottom: 52px;
}

.aside__btn {
  border: none;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
}

.aside__btn:hover {
  background-color: #323232;
}

.aside__icon {
  width: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.aside__heading--newsletter {
  margin-bottom: 26px;
}

.newsletter__email {
  opacity: 0.541;
  font-size: 13px;
  line-height: 3.07;
  color: #000000;
  width: 254px;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 14px;
  margin-bottom: 16px;
}

.newsletter__email:focus {
  border: 1px solid #b59f5b;
}

.newsletter__btn {
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  width: 270px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
}

.newsletter__btn:hover {
  background-color: #323232;
}

.newsletter__form {
  margin-bottom: 55px;
}

.tags__inner {
  list-style-type: none;
  margin-bottom: 51px;
}

.tags__item {
  display: inline-block;
  height: 25px;
  background-color: rgba(244, 243, 241, 0);
  border: 3px solid #eeeeee;
  text-align: center;
  margin-bottom: 5px;
}

.tags__item:nth-child(1) {
  width: 79px;
}

.tags__item:nth-child(2) {
  width: 72px;
}

.tags__item:nth-child(3) {
  width: 85px;
}

.tags__item:nth-child(4) {
  width: 51px;
}

.tags__item:nth-child(5) {
  width: 83px;
}

.tags__item:nth-child(6) {
  width: 71px;
}

.tags__item:nth-child(7) {
  width: 57px;
}

.tags__item:nth-child(8) {
  width: 74px;
}

.tags__item:hover {
  border: 3px solid #b59f5b;
}

.tags__link {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.aside__heading--tags {
  margin-bottom: 25px;
}

.themes__wrap {
  list-style-type: none;
}

.themes__link {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 3.31;
  color: #000000;
  font-weight: 700;
}

.aside__heading--themes {
  margin-bottom: 12px;
}

.themes__link:hover {
  color: #b59f5b;
}

.themes__number {
  font-size: 11px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: top;
}

.themes__item::after {
  content: "";
  width: 271px;
  height: 1px;
  background-color: #eeeeee;
  display: block;
}

/* Products */

.products {
  padding-bottom: 58px;
}

.products__heading {
  text-align: center;
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.products__heading::after {
  content: "";
  opacity: 0.400;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 28px;
}

.products__title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  margin-bottom: 4px;
}

.products__dscr {
  top: -29px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  outline: 3px solid #b59f5b;
  outline-offset: 21px;
  padding-top: 29px;
}

.products__dscr--pillow {
  padding-bottom: 49px;
}

.products__dscr--border {
  padding-bottom: 28px;
}

.products__text {
  font-size: 15px;
  line-height: 1.46;
  color: #0f0d0e;
  margin-bottom: 21px;
}

.products__ref {
  color: #b59f5b;
}

.products__ref:hover {
  text-decoration: underline;
}

.products__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__inner {
  width: 33.3%;
}

.products__wrapper {
  display: flex;
  gap: 111px;
  padding-left: 24px;
  padding-right: 24px;
}

.products__wrp {
  height: 204px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 21px;
}

.products__oldcurrency {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.products__currency {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
}

.products__btn {
  font-size: 14px;
  line-height: 2.85;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  width: 140px;
  height: 44px;
  padding-top: 4px;
  background-color: #b59f5b;
  text-align: center;
}

.products__btn:hover {
  background-color: #323232;
}

.products__wrp--pillow {
  background-image: url("../images/shop-item-desk1.jpg");
}

.products__wrp--doll {
  background-image: url("../images/shop-item-desk2.jpg");
}

.products__wrp--border {
  background-image: url("../images/shop-item-desk3.jpg")
}

/* Footer */

.footer__wrapper {
  padding-top: 21px;
  background-color: #f4f7f6;
  padding-bottom: 30px;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 59px;
}

.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 21px;
}

.footer__link {
  width: 38px;
  height: 22px;
  background-size: 20px;
  background-repeat: no-repeat;
  display: block;
}

.footer__link--dribbble {
  position: relative;
  background-image: url("../svg/001-dribbble.svg");
  right: 11px;
}

.footer__link--pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.footer__link--tumblr {
  background-image: url("../svg/003-tumblr.svg");
  position: relative;
  left: 6px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  display: block;
}

.copyright-footer__link {
  text-decoration: none;
  color: #999999;
}

/* LapTop */

@media (min-width: 641px) and (max-width: 1199px) {

  /* POPUP */

  .popup::after {
    width: 24px;
    height: 25px;
  }

  /* HEADER */

  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
    padding-bottom: 112px;
    padding-top: 23px;
  }

  .header__wrapper {
    margin-bottom: 85px;
  }

  .header__heading {
    max-width: 650px;
    font-size: 40px;
    line-height: 1.37;
  }

  .header__logo {
    width: 160px;
  }

  .container {
    max-width: 699px;
    padding-left: 34.5px;
    padding-right: 34.5px;
  }

  .header__list {
    display: none;
  }

  .header__line {
    position: relative;
    display: block;
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
    z-index: 1;
  }

  /* TREND */

  .trend {
    padding-top: 42px;
  }

  .trend__heading {
    font-size: 18px;
    line-height: 1.61;
  }

  .trend__heading::after {
    margin-bottom: 18px;
  }

  .trend__item {
    width: 44%;
    height: 213px;
    padding-top: 20px;
  }

  .trend__box {
    padding-top: 21px;
    padding-left: 28px;
    min-height: 108px;
  }

  .trend__wrp {
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
  }

  .trend__dscr {
    font-size: 17px;
    line-height: 1.29;
  }

  .trend__link {
    font-size: 14px;
    line-height: 2.64;
  }

  .trend__dscr {
    font-size: 17px;
    line-height: 1.29;
  }

  /* MAIN */

  .main__img {
    width: 392px;
    margin-bottom: 10px;
  }

  .main__box {
    flex-direction: column;
    margin-bottom: 42px;
  }

  .main__wrapper {
    margin-left: 0;
  }

  .main__text {
    margin-top: 19px;
    max-width: 393px;
    margin-bottom: 15px;
  }

  .main-aside__wrapper {
    padding-top: 49px;
    padding-bottom: 43px;
  }

  .main__heading {
    max-width: 397px;
    margin-bottom: 16px;
  }

  .main__list {
    margin-bottom: 5px;
  }

  .main__line {
    display: block;
    width: 392px;
    height: 3px;
    background-color: #eeeeee;
  }

  .heading-main__link {
    font-size: 17px;
    line-height: 1.29;
  }

  /* PRODUCTS */

  .products {
    padding-bottom: 42px;
  }

  .products__heading {
    font-size: 18px;
    line-height: 1.61;
  }

  .products__title {
    font-size: 17px;
    line-height: 1.29;
  }

  .products__wrapper {
    gap: 74px;
    row-gap: 22px;
    flex-wrap: wrap;
  }

  .products__inner {
    width: 44%;
  }

  .products__wrp {
    width: 292px;
    height: 226px;
    background-color: #eff6f1;
  }

  .products__wrp--pillow {
    background-image: url("../images/shop-item-tablet1.jpg");
  }

  .products__wrp--doll {
    background-image: url("../images/shop-item-tablet2.jpg");
  }

  .products__wrp--border {
    background-image: url("../images/shop-item-tablet3.jpg");
    margin-bottom: 19px;
    top: -33px;
  }

  .products__dscr--border {
    padding-bottom: 38px;
    padding-bottom: 9px;
  }

  /* FOOTER */

  .footer__wrapper {
    margin-bottom: 34px;
  }
}



@media (max-width: 640px) {

  /* POPUP */

  .popup::after {
    width: 24px;
    height: 25px;
  }

  .popup {
    max-width: 280px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .label-popup__list {
    width: 280px;
  }

  .about-popup__textarea {
    width: 280px;
  }

  .popup__btn {
    width: 280px;
  }

  /* HEADER  */
  .header {
    background-image: url("../images/banner-mobile.jpg");
    padding-bottom: 211px;
  }

  .container {
    max-width: 330px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__link {
    display: none;
  }

  .header__list {
    display: none;
  }

  .header__wrapper {
    justify-content: flex-end;
  }

  .header__line {
    position: relative;
    display: block;
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 5px;
    z-index: 1;
  }

  .header__burger {
    margin-bottom: 71px;
  }

  .header__ref {
    display: block;
    margin-bottom: 34px;
  }

  .ref-header__logo {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 271px;
    z-index: 2;
  }

  .header__heading {
    font-size: 26px;
    line-height: 1.38;
  }

  /* TREND */

  .trend {
    padding-top: 38px;
  }

  .trend__heading {
    font-size: 16px;
  }

  .trend__heading::after {
    margin-bottom: 24px;
  }

  .trend__wrp {
    flex-wrap: wrap;
  }

  .trend__item {
    width: 100%;
    height: 200px;
    padding-top: 16px;
  }

  .trend__dscr {
    font-size: 16px;
    line-height: 1.25;
  }

  .trend__box {
    padding-top: 0;
    padding-left: 15px;
  }

  .trend__inner {
    padding-top: 17px;
  }


  /* MAIN */

  .main {
    margin-bottom: 53px;
  }

  .main-aside__wrapper {
    padding-top: 42px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
  }

  .main__box {
    top: 1px;
    flex-direction: column;
    align-items: center;
  }

  .main__img {
    width: 330px;
    margin-bottom: 8px;
  }

  .heading-main__link {
    font-size: 16px;
    line-height: 1.25;
  }

  .main__heading {
    line-height: 0.8;
    margin-bottom: 4px;
  }

  .main__text {
    font-size: 14px;
    line-height: 1.42;
  }

  .main__wrapper {
    margin-left: 0;
  }

  .main__list {
    margin-bottom: 3px;
  }

  .main__text {
    margin-top: 2px;
  }

  /* ASIDE */

  .aside__heading {
    font-size: 16px;
    line-height: 1.81;
    margin-bottom: 34px;
  }

  .aside__heading--newsletter {
    margin-bottom: 26px;
  }

  .aside {
    max-width: 330px;
  }

  .aside__form {
    padding-top: 4px;
    margin-bottom: 34px;
  }

  .aside__btn {
    width: 48px;
    height: 48px;
  }

  .aside__search {
    max-width: 282px;
    padding-left: 18px;
    padding-right: 61px;
  }

  .newsletter__email {
    max-width: 329px;
    padding-left: 19px;
    padding-right: 57px;
  }

  .newsletter__btn {
    width: 330px;
  }

  .newsletter__form {
    margin-bottom: 37px;
  }

  .aside__heading--tags {
    margin-bottom: 28px;
  }

  .tags__inner {
    margin-bottom: 32px;
  }

  .aside__heading--themes {
    margin-bottom: 15px;
  }

  /* PRODUCTS */

  .products {
    padding-bottom: 39px;
  }

  .products__heading {
    font-size: 16px;
    line-height: 1.81;
  }

  .products__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }

  .products__title {
    font-size: 17px;
    line-height: 1.29;
  }

  .products__wrp--pillow {
    background-image: url("../images/shop-item-mobile1.jpg");
  }

  .products__wrp--doll {
    background-image: url("../images/shop-item-mobile2.jpg");
  }

  .products__wrp--border {
    margin-bottom: 12px;
    background-image: url("../images/shop-item-mobile3.jpg");
  }

  .products__inner {
    width: 100%;
  }

  .products__wrp {
    height: 285px;
  }

  .products__dscr {
    padding-bottom: 5px;
  }

  /* FOOTER */

  .footer__wrapper {
    margin-bottom: 33px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {

  .trend__item {
    width: 21%;
    height: 225px;
    align-items: flex-end;
  }

  .trend__wrp {
    flex-wrap: nowrap;
  }

  .trend__link {
    font-size: 12px;
  }

  .trend__dscr {
    font-size: 15px;
  }

  .trend__box {
    width: 100%;
    padding-left: 10px;
  }
}


@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {

  .trend__box {
    width: 90%;
  }
}

@media (max-width: 640px) and (orientation: portrait) {

  .trend__box {
    width: 90%;
  }
}

@media (max-width: 640px) and (orientation: landscape) {

  .trend__wrp {
    justify-content: center;
  }

  .trend__item {
    width: 40%;
  }

  .trend__box {
    width: 100%;
  }
}